In [3]:
#Setting up the Notebook
import pandas as pd
import numpy as np
from numpy.random import randn

In [4]:
#Setting up the DataFrames
trackingDF = pd.read_csv("tracking_gameId_2017090700.csv") #This is for one game, we'll need the other tracking data from the repo
playersDF = pd.read_csv("players.csv")
gamesDF = pd.read_csv("games.csv")
playsDF = pd.read_csv("plays.csv")

trackingDF.dropna(axis=0, inplace=True) #Directly remove any row that contains null information
trackingDF['nflId'] = trackingDF['nflId'].astype(int) #Need to unfloat the floats to match nflId
playersDF.dropna(axis=0, inplace=True)
gamesDF.dropna(axis=0, inplace=True)
playsDF.dropna(axis=0,inplace=True)

In [5]:
#See the columns (Series)
print("\nTracking Columns\n")
print(trackingDF.columns)
print("\nPlayers Columns\n")
print(playersDF.columns)
print("\nGames Columns\n")
print(gamesDF.columns)
print("\nPlays Columns\n")
print(playsDF.columns)

Tracking Columns

Index(['time', 'x', 'y', 's', 'dis', 'dir', 'event', 'nflId', 'displayName',
       'jerseyNumber', 'team', 'frame.id', 'gameId', 'playId'],
      dtype='object')

Players Columns

Index(['nflId', 'FirstName', 'LastName', 'PositionAbbr', 'EntryYear',
       'DraftRound', 'DraftNumber', 'Height', 'Weight', 'College'],
      dtype='object')

Games Columns

Index(['season', 'week', 'gameDate', 'gameId', 'gameTimeEastern', 'HomeScore',
       'VisitorScore', 'homeTeamAbbr', 'visitorTeamAbbr', 'homeDisplayName',
       'visitorDisplayName', 'Stadium', 'Location', 'StadiumType', 'Turf',
       'GameLength', 'GameWeather', 'Temperature', 'Humidity', 'WindSpeed',
       'WindDirection'],
      dtype='object')

Plays Columns

Index(['gameId', 'playId', 'quarter', 'GameClock', 'down', 'yardsToGo',
       'possessionTeam', 'yardlineSide', 'yardlineNumber', 'offenseFormation',
       'personnel.offense', 'defendersInTheBox', 'numberOfPassRushers',
       'personnel.defense', 'HomeScoreBeforePlay', 'VisitorScoreBeforePlay',
       'HomeScoreAfterPlay', 'VisitorScoreAfterPlay', 'isPenalty', 'isSTPlay',
       'SpecialTeamsPlayType', 'KickReturnYardage', 'PassLength', 'PassResult',
       'YardsAfterCatch', 'PlayResult', 'playDescription'],
      dtype='object')

In [43]:
#Need PlayersDF to have a team associated pull data from Tracking to match
indices = ['nflId', 'gameId', 'team'] #nflId is unique which is tied to player, gameId and team will help id who was playing
playersTeamDF = trackingDF[indices]
playersTeamDF.head()

       nflId      gameId  team
4    2495340  2017090700  away
44   2495340  2017090700  away
81   2495340  2017090700  away
87   2495340  2017090700  away
102  2507948  2017090700  away

In [44]:
#Since an nflId is either away or home, we know that the gameId associated with it has the team name now we need the team name
indices = ['gameId', 'homeTeamAbbr' , 'visitorTeamAbbr']
gameTeamDF = gamesDF[indices]
gameTeamDF.head()
#Note, this is why we need the tracking data from other games. With the current tracking data we can only tie two teams
#See the gameId, it's the only id that matches the players
onlyDF = gameTeamDF.iloc[0] #gameId is the one we need

homeTeam = onlyDF['homeTeamAbbr']
awayTeam = onlyDF['visitorTeamAbbr']
gameId = onlyDF['gameId']

In [48]:
#This ties team names to players
playersTeamDF['teamName'] = np.where(playersTeamDF['team']=='away', awayTeam, homeTeam)
uniquePlayers = playersTeamDF.drop_duplicates(subset='nflId', keep='first')
uniquePlayers.head()

C:\Users\Kendrick-Laptop\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       nflId      gameId  team teamName
4    2495340  2017090700  away       KC
102  2507948  2017090700  away       KC
200  2541187  2017090700  away       KC
298  2543563  2017090700  away       KC
396  2543638  2017090700  away       KC

In [49]:
#Have to merge this data based on the nflId2
uniquePlayers = uniquePlayers.drop(columns=['team', 'gameId'])
addedTeamsDF = pd.merge(playersDF, uniquePlayers, how='left', on='nflId')
addedTeamsDF.dropna(axis=0,inplace=True)
addedTeamsDF

,nflId,FirstName,LastName,PositionAbbr,EntryYear,DraftRound,DraftNumber,Height,Weight,College,teamName
15,71251,Patrick,Chung,SS,2009,2.0,34.0,"5'11""",215,Oregon,NE
26,79611,Roy,Miller,NT,2009,3.0,81.0,"6'02""",318,Texas,KC
41,2506340,Alexander,Smith,QB,2005,1.0,1.0,"6'04""",217,Utah,KC
44,2506353,Derrick,Johnson,ILB,2005,1.0,15.0,"6'03""",242,Texas,KC
58,2495561,Alan,Branch,DT,2007,2.0,33.0,"6'06""",350,Michigan,NE
61,2495621,David,Harris,OLB,2007,2.0,47.0,"6'02""",250,Michigan,NE
101,2533062,Stephon,Gilmore,CB,2012,1.0,10.0,"6'01""",190,South Carolina,NE
109,2549896,Marquis,Flowers,OLB,2014,6.0,212.0,"6'03""",250,Arizona,NE
130,2552488,Marcus,Peters,CB,2015,1.0,18.0,"6'00""",197,Washington,KC
140,2552424,Phillip,Dorsett,WR,2015,1.0,29.0,"5'10""",185,Miami,NE
143,2552674,Rakeem,Nunez-Roches,DT,2015,6.0,217.0,"6'02""",307,Southern Mississippi,KC
159,2543637,Terrance,Mitchell,CB,2014,7.0,254.0,"5'11""",190,Oregon,KC
162,2552483,Malcom,Brown,DT,2015,1.0,32.0,"6'02""",320,Texas,NE
173,2552255,Nelson,Rowe,CB,2015,2.0,47.0,"6'01""",205,Utah,NE
174,2552668,Mitchell,Morse,C,2015,2.0,49.0,"6'06""",305,Missouri,KC
187,2552392,Jordan,Richards,SS,2015,2.0,64.0,"5'11""",210,Stanford,NE
195,2552652,Christian,Conley,WR,2015,3.0,76.0,"6'03""",205,Georgia,KC
214,2552278,Trey,Flowers,DE,2015,4.0,101.0,"6'02""",265,Arkansas,NE
223,2552320,Ramik,Wilson,ILB,2015,4.0,118.0,"6'02""",237,Georgia,KC
232,2552563,Shaquille,Mason,G,2015,4.0,131.0,"6'01""",310,Georgia Tech,NE
251,2552701,Joe,Cardona,LS,2015,5.0,166.0,"6'03""",245,Navy,NE
271,2504211,Tom,Brady,QB,2000,6.0,199.0,6'04'',225,Michigan,NE
277,2506438,Dustin,Colquitt,P,2005,3.0,99.0,"6'03""",210,Tennessee,KC
292,2506922,Stephen,Gostkowski,K,2006,4.0,118.0,"6'01""",215,Memphis,NE
327,496723,James,Berry,SS,2010,1.0,5.0,"6'00""",212,Tennessee,KC
342,494287,Devin,McCourty,FS,2010,1.0,27.0,"5'10""",195,Rutgers,NE
349,497240,Robert,Gronkowski,TE,2010,2.0,42.0,"6'06""",265,Arizona,NE
399,2495232,Nathaniel,Solder,T,2011,1.0,17.0,"6'08""",325,Colorado,NE
427,2495493,Justin,Houston,OLB,2011,3.0,70.0,"6'03""",258,Georgia,KC
432,2495116,Allen,Bailey,DE,2011,3.0,86.0,"6'03""",288,Miami,KC
...,...,...,...,...,...,...,...,...,...,...,...
507,2533046,Dwayne,Allen,TE,2012,3.0,64.0,"6'03""",265,Clemson,NE
566,2539213,Eric,Fisher,T,2013,1.0,1.0,"6'07""",315,Central Michigan,KC
615,2540258,Travis,Kelce,TE,2013,3.0,63.0,"6'05""",260,Cincinnati,KC
617,2540163,Bennie,Logan,DT,2013,3.0,67.0,"6'02""",315,Louisiana State,KC
633,2541243,Duron,Harmon,FS,2013,3.0,91.0,"6'01""",205,Rutgers,NE
658,2539663,Mike,Gillislee,RB,2013,5.0,164.0,"5'11""",219,Florida,NE
667,2539265,Michael,Burkhead,RB,2013,6.0,190.0,"5'10""",210,Nebraska,NE
701,2543498,Brandin,Cooks,WR,2014,1.0,20.0,"5'10""",189,Oregon State,NE
703,2543494,Donald,Ford,OLB,2014,1.0,23.0,"6'02""",252,Auburn,KC
717,2543699,Kyle,Van Noy,OLB,2014,2.0,40.0,"6'03""",243,Brigham Young,NE
748,2543851,Phillip,Gaines,CB,2014,3.0,87.0,"6'00""",193,Rice,KC
763,2543868,Cassius,Marsh,DE,2014,4.0,108.0,"6'04""",245,UCLA,NE
774,2543638,De'Anthony,Thomas,WR,2014,4.0,124.0,"5'08""",176,Oregon,KC
779,2543773,James,White,RB,2014,4.0,130.0,"5'10""",205,Wisconsin,NE
780,2543563,Kevin,Pierre-Louis,ILB,2014,4.0,132.0,"6'00""",230,Boston College,KC
805,2549981,Kenneth,Acker,CB,2014,6.0,180.0,"6'00""",195,Southern Methodist,KC
811,2543862,Zachery,Fulton,G,2014,6.0,193.0,"6'05""",316,Tennessee,KC
812,2543816,Laurent,Duvernay-Tardif,G,2014,6.0,200.0,"6'05""",321,McGill,KC
856,2556369,Christopher,Jones,DE,2016,2.0,37.0,"6'06""",308,Mississippi State,KC
891,2555281,Joseph,Thuney,G,2016,3.0,78.0,"6'05""",305,North Carolina State,NE
913,2555173,Eric,Murray,FS,2016,4.0,106.0,"5'11""",199,Minnesota,KC
930,2555478,Demarcus,Robinson,WR,2016,4.0,126.0,"6'01""",203,Florida,KC
956,2556214,Tyreek,Hill,WR,2016,5.0,165.0,"5'10""",185,West Alabama,KC
985,2556119,Elandon,Roberts,MLB,2016,6.0,214.0,"6'00""",235,Houston,NE
988,2555145,Ted,Karras,C,2016,6.0,221.0,"6'04""",305,Illinois,NE
1056,2558185,Tanoh,Kpassagnon,OLB,2017,2.0,59.0,"6'07""",280,Villanova,KC
1080,2557917,Kareem,Hunt,RB,2017,3.0,86.0,"5'11""",208,Toledo,KC
1114,2558000,Deatrich,Wise,DE,2017,4.0,131.0,"6'05""",271,Arkansas,NE
1118,2557866,Jehu,Chesson,WR,2017,4.0,139.0,"6'03""",203,Michigan,KC
1149,2558097,Ukeme,Eligwe,ILB,2017,5.0,183.0,"6'02""",239,Georgia Southern,KC

In [ ]:
#At this point, we have two teams but we need more tracking data and then rewrite the previous code to fix that.